<img src="../Images/DSC_Logo.png" style="width: 400px;">

# Data Preparation and Analysis using Pandas

In this notebook, we focus on using `pandas`. It very much simplifies the process of reading, cleaning, transforming, and analyzing tabular data, and offers intuitive tools for handling missing values, filtering rows, aggregating data, and performing tasks like time series operations and basic plotting. In addition to `pandas`, we will also introduce `matplotlib` for creating high-quality, highly customizable visualizations.

In [ ]:
!pip install pandas
!pip install matplotlib

import pandas as pd
import matplotlib.pyplot as plt

Let's look at some basic commands in pandas using an artificial DataFrame containing measured climate parameters.

In [ ]:
# Create a simple DataFrame with measurement data
data = {
    'Date': ['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04'],
    'Temperature': [22.5, 23.0, None, 20.4],
    'Humidity': [55, 60, 58, 62],
    'Wind_Speed': [12, 15, 10, 8]
}

df = pd.DataFrame(data)

print(df)

*Note: In this notebook, operations like `df.head(1)` are mainly demonstrated without overwriting the original DataFrame. This is useful for exploring data without changing anything. If you want to save the result, you must either assign it to a new variable (e.g., `df_subset = df.head(1)`) or overwrite the original one (e.g., `df = df.head(1)`).*

## 1. Initial Data Exploration

- Inspect first/last rows:

In [ ]:
df.head(1)

In [ ]:
df.tail(1)

- Inspect columns:

In [ ]:
df.columns

- What **data types**?

In [ ]:
df.dtypes

- Summarize the **statistical properties** of numerical data:

In [ ]:
df.describe()

- Isolating **unique values** in a column:

In [ ]:
df["Temperature"].unique()

## 2. Selecting, Indexing and Order

- Selecting **specific column(s)**:

In [ ]:
df["Temperature"]
# or:
df.Temperature

- Selecting specific **row(s)**:

In [ ]:
df.iloc[1]

- **Iterating** over a DataFrame with `iterrows()`:

In [ ]:
for idx, row in df.iterrows():
    print(row["Date"], row["Temperature"])

- Select **rows by conditions** (add more filters by chaining conditions with `&` "and" or `|` "or"):

In [ ]:
df[df["Temperature"] == 22.5] # == "equal to"

In [ ]:
df[df["Temperature"] >= 22.5] # >= "larger or equal to"

- Use **`.iloc[]`** to select by position (like list indexing):

In [ ]:
df.iloc[0] # First row

- Use **`.loc[]`** to select by label (uses index):

In [ ]:
df.loc[0] # Looks for row with index 0 (not position!)

- **Sort by** column(s):

In [ ]:
df.sort_values("Humidity", ascending=False) # ascending=False tells pandas to sort values from highest to lowest instead of the default (lowest to highest)

- Change index:

In [ ]:
df.index = df['Date']
df

- **Reset index**:

In [ ]:
df.reset_index(drop=True, inplace=True) # inplace=True is overwriting without the need to reassign via "df ="
df

## 3. Cleaning and Preprocessing

- **Remove** column(s):

In [ ]:
df.drop(columns=["Humidity"])

- Remove rows with missing values from a specific column:

In [ ]:
df[df["Temperature"].notna()]

- Remove rows with missing values where all columns are empty (default: "any"):

In [ ]:
df.dropna(how="all")

- **Convert data type** (e.g. to float):

In [ ]:
df["Wind_Speed"].astype(float)

- Convert to DateTime format:

In [ ]:
pd.to_datetime(df["Date"])

- **Rename** columns:

In [ ]:
df.rename(columns={'Temperature': 'Temperature (°C)', 'Humidity': 'Humidity (%)'})

- **Replace** values:

In [ ]:
df.replace({'Temperature': {22.5: 22.0}})

## 4. Transforming Data

- Adding **new column** to a DataFrame:

In [ ]:
df["Rainfall"] = [0, 0, 3, 15] # Ensure the new column has the same number of entries as existing rows.

- **Converting** a column to a **list**:

In [ ]:
df["Temperature"].tolist()

- **map()** for element-wise operations on a single column together with `lambda` (a short function without a name):

In [ ]:
df['Temperature_K'] = df['Temperature'].map(lambda x: x + 273.15) # Convert to Kelvin

- Direct math operation to convert to Kelvin:

In [ ]:
df['Temperature_K'] = df['Temperature'] + 273.15
print(df['Temperature_K'])

- **apply()** for row- or column-wise operations together with `lambda`:

In [ ]:
df['diff'] = df.apply(lambda row: row['Temperature_K'] - row['Temperature'], axis=1)
print(df['diff'])

## 5. Grouping and Aggregation

- **Aggregation functions**:

In [ ]:
df["Temperature"].mean()

In [ ]:
df["Rainfall"].sum()

-  **Grouping Data by** one or more columns for aggregate analysis where `groupby()` separates the data into buckets and you say what to do with each bucket using aggregation functions. For example: Mean temperature per rainfall group.

In [ ]:
df.groupby("Rainfall")["Temperature"].mean()

## 6. Merging and Joining

- **Stack** DataFrames:

In [ ]:
df2 = df.copy()  # Just duplicate it for the example
pd.concat([df, df2])

- **Merge by** a shared column:

In [ ]:
info = pd.DataFrame({
    'Date': ['2025-06-01', '2025-06-02'],
    'Condition': ['Sunny', 'Cloudy']
})

merged = pd.merge(df, info, on='Date')
print(merged)

## 7. Data Visualization

Pandas offers many built-in plotting functions that are great for quick visualizations, such as line plots, histograms, and scatter plots. For more advanced and highly customizable visualizations, you can use `matplotlib`.

In [ ]:
Iris = pd.read_csv("../Data/Iris.csv")
Iris.head()

In [ ]:
time_series = pd.read_csv('../Data/NOAA_time_series.csv', skiprows=4, delimiter=',')
time_series.head()

- **Line plot** - temperature anomaly over time:

In [ ]:
time_series.plot(x='Year', y='Anomaly', title='Global Temperature Anomaly')

In [ ]:
# Example with matplotlib:
plt.plot(time_series['Year'], time_series['Anomaly'], color='red', linestyle='--')
plt.title("Temperature Anomaly")
plt.xlabel("Year")
plt.ylabel("Anomaly")
plt.show()

- **Bar plot** - temperature anomaly over time:

In [ ]:
time_series.plot(
    x='Year',
    y='Anomaly',
    kind='bar',
    title='Global Temperature Anomaly'
)

- **Scatter plot** – sepal length vs. width (Iris):

In [ ]:
Iris.plot.scatter(x='SepalLengthCm', y='SepalWidthCm', title='Sepal Dimensions')

- **Histogram** – distribution of petal length:

In [ ]:
Iris['PetalLengthCm'].plot.hist(title='Petal Length Distribution')

- **Boxplot** – compare sepal lengths across species:

In [ ]:
Iris.boxplot(column='SepalLengthCm', by='Species')

---
---

### **Exercise 1:** 

Calculate the area of the petals of the Iris flower  in the Iris dataset via multiplication (no need for precise ellipse area) in a new column. Select only the species 'Iris-versicolor' and find the average (mean) area for this species.

<img src="../Images/iris.png" style="width: 1000px;"> 

*Image modified from Steve Dorand, Pixabay*

---

---

### **Exercise 2:** 

Load the World Happiness Report dataset into a new DataFrame named from `../Data/World-happiness-report-2024.csv` using `pandas`. Sort the data table by "Ladder score" and print the top three countries with the highest "Ladder score". In addition, save the data of the 20 highes-ranked countries to a new DataFrame and plot their Ladder score in a bar plot.

---

---